# Build results
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
**/packages/*
*.nuget.props
*.nuget.targets
project.lock.json

# JetBrains Rider
.idea/
*.sln.iml

# Visual Studio Code
.vscode/

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx

# Logs
*.log
*.VisualState.xml

# macOS
.DS_Store

# Temp files
**/tmp/
*.tmp
*.temp
